page-login {

    .form_login {
        width:  340px;
        margin-left: 20px;
        margin-top: 40%;
        text-align: center;
    }
    #copo_login {
        //background-image: url("paper.gif");
        //background-color: #848484;
     }

}
